/* Move down content because we have a fixed navbar that is 50px tall */
body {

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {

}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {

}
